<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="ff-primary mx-auto max-w-2xl lg:mx-0">
      <h2 class="font-inherit text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= @article.title %></h2>
      <p class="font-inherit mt-2 text-lg leading-8 text-gray-600"><%= @article.name %></p>
    </div>
    <div class="ff-secondary py-6 mt-6 border-t border-gray-200 prose">
      <p class="leading-loose"><%= @article.body.html_safe %></p>
    </div>
    <div class="mx-auto max-w-2xl lg:mx-0">
        <%= link_to 'Edit', edit_article_path(@article), class: 'fw-400 ff-primary' %>
        <%= link_to 'Go Back', articles_path, class: 'fw-400 ff-primary' %>
        <%= button_to 'Delete', delete_article_path(@article), method: :delete, class: 'fw-400 ff-primary'%>
    </div>
  </div>
</div>
