<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://cdn.tailwindcss.com"></script>
  <%= stylesheet_link_tag 'application.css', media: 'all' %>
  <%= stylesheet_link_tag 'application.tailwind.css', media: 'all' %>
</head>


  <body>
  <div class="min-h-screen bg-primary py-16 sm:py-22">
  <div class="rounded bg-white mx-auto max-w-7xl py-8 px-6 lg:px-8">
    <%= yield %>
    </div>
  </div>
  
  </body>
</html>
